<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzh83JtcMdUruJBfamPaoS35Ob6O9mDag</string>
	<key>GCM_SENDER_ID</key>
	<string>461290307870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wolfoo.sport.olympic.champion.NBA.game</string>
	<key>PROJECT_ID</key>
	<string>wolfoo-sport</string>
	<key>STORAGE_BUCKET</key>
	<string>wolfoo-sport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461290307870:ios:19df0626eaf7619fdc890f</string>
</dict>
</plist>